<h2>Editable TreeGrid</h2>
<table id="tg" class="easyui-treegrid" title="Editable TreeGrid" style="width:700px;height:250px"
       data-options="
				rownumbers: true,
				animate: true,
				fitColumns: true,
				idField: 'id',
				treeField: 'name'
			">
    <thead>
    <tr>
        <th data-options="field:'name',width:180,editor:'text'">Task Name</th>
        <th data-options="field:'persons',width:60,align:'right',editor:'numberbox'">Persons</th>
        <th data-options="field:'begin',width:80,editor:'datebox'">Begin Date</th>
        <th data-options="field:'end',width:80,editor:'datebox'">End Date</th>
        <th data-options="field:'progress',width:120,editor:'numberbox'">Progress</th>
    </tr>
    </thead>
</table>
<script type="text/javascript">


    var data = { "rows": [
        {"id": 1, "name": "All Tasks", "begin": "3/4/2010", "end": "3/20/2010", "progress": 60, "iconCls": "icon-ok"},
        {"id": 2, "name": "Designing", "begin": "3/4/2010", "end": "3/10/2010", "progress": 100, "_parentId": 1, "state": "closed"},
        {"id": 21, "name": "Database", "persons": 2, "begin": "3/4/2010", "end": "3/6/2010", "progress": 100, "_parentId": 2},
        {"id": 22, "name": "UML", "persons": 1, "begin": "3/7/2010", "end": "3/8/2010", "progress": 100, "_parentId": 2},
        {"id": 23, "name": "Export Document", "persons": 1, "begin": "3/9/2010", "end": "3/10/2010", "progress": 100, "_parentId": 2},
        {"id": 3, "name": "Coding", "persons": 2, "begin": "3/11/2010", "end": "3/18/2010", "progress": 80},
        {"id": 4, "name": "Testing", "persons": 1, "begin": "3/19/2010", "end": "3/20/2010", "progress": 20}
    ]};
    $(function () {
        $("#tg").treegrid("loadData", data);

    });
</script>
